<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<!-- for geocode script to enable google map api adding AIzaSyCvWF9eNFCJuL-o09Y-j5IZhHEVWQhNBAQ--> 
	<script async defer
	  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvWF9eNFCJuL-o09Y-j5IZhHEVWQhNBAQ&callback=initMap">
	</script> 
  
</head>
<body>
  
<%= render 'layouts/header' %>

	<% flash.each do |type, message|  %>
		<div class="alert alert-info fade-in">
			<button class="close" data-dismiss="alert">x</button>
			<%= message %>
		</div>
	<% end %>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
